.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}






/* 主页部分样式 */

.poem_wrap {
  position: relative;
  width: 1000px;
  max-width: 80%;
  border: 2px solid #797979;
  border-top: 0;
  text-align: center;
  margin: 40px auto;
}
.poem_wrap h1 {
  position: relative;
  margin-top: -20px;
  display: inline-block;
  letter-spacing: 4px;
  color: #797979;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
.poem_border {
  position: absolute;
  height: 2px;
  width: 27%;
  background-color: #797979;
}
.poem_left {
  left: 0;
}
.poem_right {
  right: 0;
}
.poem_sentence {
  font-size: 1.4rem;
}
.poem_info {
  font-size: 15px;
  margin: 15px auto;
}
.headingMd {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  display: -webkit-flex;
}
.colorInherit {
  color: inherit;
}

.list {
  list-style: none;
  min-height: 1000px;
  float: none;
  margin: 0 auto;
  width: 90%;
}

.listItem {
  max-width: 830px;
  margin: 3.5rem auto;
}
.title_link{
  font-size: 20px;
  float: right;
  width: 100%;
  clear: both;
  border-bottom: 1px dashed #95a5a6;
  box-sizing: border-box;
  background-size: 35px 35px;
  margin-top: 2.5rem;
}
.title_a{
  background-color: rgba(0,0,0,0);
  color: #7396a7;
  font-family: "Open Sans","Microsoft Jhenghei","Microsoft Yahei",sans-serif;
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: bold;
  letter-spacing: -1px;
  transition: all .5s ease;
  word-wrap: break-word;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


.lightText {
  color: #999;
}
.borderCircle {
  border-radius: 9999px;
}